<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Depanini Sign In</title>
    <style>
		body {
			margin: 0;
			padding: 0;
      background-color: #eceff1;
		}
		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #fff;
			color: #007ae1;
			padding: 10px 20px;
		}
		nav h1 {
			margin: 0;
			font-size: 30px;
			font-weight: normal;
      font-weight: bold;

		}
		nav form {
			display: flex;
			align-items: center;
		}
		
		.inputf {
			background-color: #007ae1;
			color: #fff;
			border-radius: 5px;
			border: none;
			font-size: 16px;
			cursor: pointer;

      padding: 10px;
      width: 100%;
      font-weight: bold;
		}
    .inputf:hover {
        background-color: #1569c7;
      }


    .container {
        background-color: #ffffff;
        width: 500px;
        margin: 50px auto;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
         margin-top: 150px;
      }

      .header {
        background-color: #4267b2;
        color: #ffffff;
        padding: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .header h1 {
        font-size: 24px;
        font-weight: normal;
        margin: 0;
      }

      .form {
        padding: 20px;
      }

      .form-group {
        margin-bottom: 20px;
      }

      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .input-email,
      .input-password {
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #cfcfcf;
        background-color: #f0f2f5;
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
        color: #222222;
      }

      button[type="submit"] {
        padding: 10px;
        border-radius: 3px;
        border: none;
        background-color: #1877f2;
        color: #ffffff;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
      }

      button[type="submit"]:hover {
        background-color: #1569c7;
      }

      .forgot-password {
        text-align: center;
        margin-top: 20px;
      }

      .forgot-password a {
        color: #1877f2;
        text-decoration: none;
      }

      .forgot-password a:hover {
        text-decoration: underline;
      }
/************************************************/
      .flash-message {
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    .flash-message-success {
      background-color: #d4edda;
      border-color: #c3e6cb;
      color: #155724;
    }

    .flash-message-error {
      background-color: #f8d7da;
      border-color: #f5c6cb;
      color: #721c24;
    }

    .flash-message-info {
      background-color: #d1ecf1;
      border-color: #bee5eb;
      color: #0c5460;
    }

    .flash-message-warning {
      background-color: #fff3cd;
      border-color: #ffeeba;
      color: #856404;
    }

        {{ encore_entry_link_tags('app') }}
	</style>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

<body>
	<nav>
		<h1><a  style="text-decoration: none; color:#007ae1; " href="{{ path('app_login') }}">Depanini</a></h1>
    </div>
		<form>
			<div class="inputf"><a style="text-decoration: none; color:#fff;" href="{{ path('app_signup') }}">Create a new account</div></a>
		</form>
	</nav>
  {% for flash in app.flashes('message') %}
    <div class="flash-message flash-message-success">{{ flash }}</div><br>
  {% endfor %}

{% block body %}

    
<div class="container">
    <div class="header">
      <h1>Depanini</h1>
    </div>
    <form class="form" method="post">
      <div class="form-group">
        {% for flash in app.flashes('success') %}
          <div class="flash-message flash-message-success" >{{ flash }}</div><br>
        {% endfor %}
        {% for flash in app.flashes('error') %}
          <div class="flash-message flash-message-error">{{ flash }}</div><br>
        {% endfor %}

            {% if error %}
                <div class="flash-message flash-message-error" >{{ error.messageKey|trans(error.messageData, 'security') }}</div><br>
            {% endif %}

        <label for="email">Email</label>
        <input class="input-email" type="email" id="email" name="email" id="inputEmail" placeholder="Email" value="{{last_username}}" required autofocus>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="input-password" type="password"  placeholder="Password" name="password" id="inputPassword" required>

        <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}">
      </div>
      <button type="submit">Log In</button>
      <div class="forgot-password">
        <a href="{{ path('FindAccount') }}">Forgot password?</a>
      </div>
    </form>
</div>
  {% endblock %}
</body>
</html>