{% extends 'Back/base.html.twig' %}
        {% block Dashboard %} class="sm_menu_btm" {% endblock %}
        {% block Confidentialite%} class="sm_menu_btm" {% endblock %}
        {% block Profile%} class="sm_menu_btm" {% endblock %}
        {% block Users%} class="sm_menu_btm" {% endblock %}
        {% block Events%} class="sm_menu_btm" {% endblock %}
        {% block Reclamation%} class="sm_menu_btm" {% endblock %}
        {% block Offres%} class="active open" {% endblock %} 
        {% block Demandes%} class="sm_menu_btm" {% endblock %}   
        {% block Achats%} class="sm_menu_btm" {% endblock %}

{% block title %}Hello OffreController!{% endblock %}

{% block body %}


<section class="content">


    <div class="container-fluid">

    
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Liste des Offres</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="{{asset('dashboardhome')}}"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item">Offres</li>
                        
                    </ul>
                </div>            
               
            </div>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2> Liste des <strong>Offres</strong> </h2>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu slideUp">
                                    <li><a href="javascript:void(0);">Offres</a></li>
                                    <li><a href="javascript:void(0);">Offres</a></li>
                                </ul>
                            </li>
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive" id='myTable'>
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prix</th>
                                        {# <th>Categorie</th> #}
                                        <th>Description</th>
                                        <th>Localisation</th>
                                        <th>Type</th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                               
                                <tbody>
                                 <div style="display: flex;justify-content: space-around;">
                                <span style="margin-top: 10px" >Filtre Avec type </span>
                                <button style="margin-left: 55%"  type="button" class="btn btn-round btn-simple btn-sm btn-success btn-filter" data-target="Enligne">en ligne</button>
                                <button type="button" class="btn btn-round btn-simple btn-sm btn-warning btn-filter" data-target="presentiel">presentiel</button>
                            </div>

                                <input type="search" id="myInput" class="form-control pl-6" placeholder="Search "/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script><script>$(document).ready(function () {$("#myInput").on("keyup", function () {var value = $(this).val().toLowerCase();$("#myTable tr ").filter(function () {$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});})});</script>
                                 {% for o in offre %}
                                    <tr data-status="{% if o.typeoffre == "Presentiel" %}presentiel{% else %}Enligne{% endif %}">
                                        <td>{{o.nomoffre}}</td>
                                        <td>{{o.prixoffre}}</td>
                                         <td>{{o.descriptionoffre}}</td> 
                                        <th>{{o.localisationoffre}}</td>
                                        <td>{{o.typeoffre}}</td>
                                        <td>{{o.imageoffre}}</td>
                            
                                    {# <td>  <a  href=" {{ path('modif_offre',{'id':o.id}) }} "  class="btn btn-raised btn-primary btn-round waves-effect"> Modifier </a></td>  #} 
                                     <td>  <a  href=" {{ path('supp_offre',{'id':o.idOffre}) }} "  class="btn btn-raised btn-primary btn-round waves-effect"> Supprimer </a></td>  
                                    </tr>
                                {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
                   
                    
                
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples --> 
        
        <!-- #END# Exportable Table --> 
    </div>
</section>
{% endblock %}
{% block scriptjs %}
    <!-- Jquery Core Js -->
    <script src="{{asset('Back/bundles/libscripts.bundle.js')}}"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
    <script src="{{asset('Back/bundles/vendorscripts.bundle.js')}}"></script> <!-- slimscroll, waves Scripts Plugin Js -->

    <script src="{{asset('Back/bundles/knob.bundle.js')}}"></script> <!-- Jquery Knob-->
    <script src="{{asset('Back/bundles/jvectormap.bundle.js')}}"></script> <!-- JVectorMap Plugin Js -->
    <script src="{{asset('Back/bundles/morrisscripts.bundle.js')}}"></script> <!-- Morris Plugin Js -->
    <script src="{{asset('Back/bundles/sparkline.bundle.js')}}"></script> <!-- sparkline Plugin Js -->
    <script src="{{asset('Back/bundles/doughnut.bundle.js')}}"></script>

    <script src="{{asset('Back/bundles/mainscripts.bundle.js')}}"></script>

    <script>
        $(document).ready(function () {
            $('.star').on('click', function () {
                $(this).toggleClass('star-checked');
            });

            $('.ckbox label').on('click', function () {
                $(this).parents('tr').toggleClass('selected');
            });

            $('.btn-filter').on('click', function () {
                var $target = $(this).data('target');
                if ($target != 'all') {
                    $('.table tr').css('display', 'none');
                    $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
                } else {
                    $('.table tr').css('display', 'none').fadeIn('slow');
                }
            });
        });
    </script>
   
{% endblock %}