{% extends 'Front/base.html.twig' %}

{% block title %}Ajouter un recrutement{% endblock %}

{% block body %}



    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Bienvenue</h5>
                <h1 class="mb-0">Tous les postes de travail disponibles ! </h1>
            </div>

  
            <div class="row g-5">
                {% for rec in recrutement %}
                    <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">{{ rec.salaire }}</a>
                            </div>
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3"><i class="far fa-user text-primary me-2"></i>{{ rec.idclient }}</small>
                                    <small><i class="far fa-text-alt text-primary me-2"></i>{{ rec.description }}</small>
                                </div>
                                <h4 class="mb-3">{{ rec.date|date('Y-m-d') }}</h4>
                                <p>{{ rec.nom }}</p>
                            {% if app.user.roles()== ["ROLE_CLIENT","ROLE_USER"] %}
                                {% if app.user.idUser()== rec.idclient.idUser %}
                                    <a class="btn btn-primary" href="{{ path('modifier_recrutement', {'id': rec.reference}) }}">Modifier</a>
                                    <a class="btn btn-danger" href="{{ path('supprimer_recrutement', {'id': rec.reference}) }}">Supprimer</a>
                                    
                                {% endif %}
                            {% endif %}
                                
                                {% if app.user.roles()== ["ROLE_FREELANCER","ROLE_USER"] %}
                                    <a class="btn btn-danger" href="{{ path('ajout_contrat') }}">Signez votre contrat avec l'entreprise</a> 

                                {% endif %}

                                {# <a class="btn btn-danger" href="{{ path('ajout_contrat') }}">Signez votre contrat avec l'entreprise</a>  #}
                                </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}