<!DOCTYPE html>

<title>Tickets</title>

{% block body %}
    <h1>Tickets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idticket</th>
                <td>{{ ticket.idticket }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ ticket.quantite }}</td>
            </tr>
            <tr>
                <th>Prixtotale</th>
                <td>{{ ticket.prixtotale }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ ticket.login }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tickets_controller2_index') }}">back to list</a>

    <a href="{{ path('app_tickets_controller2_edit', {'idticket': ticket.idticket}) }}">edit</a>

    {{ include('tickets_controller2/_delete_form.html.twig') }}
{% endblock %}
